@model DocumentsStorage.Models.User

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="header">
            <h1>Вход</h1>
        </div>
        <div class="content">
            <div class="editor-label">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Login, new { @Value = "Login" })
                @Html.ValidationMessageFor(model => model.Login)
            </div>

            <div class="editor-label Pass">
                @Html.LabelFor(model => model.Pass)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Pass)
                @Html.ValidationMessageFor(model => model.Pass)
            </div>
        </div>
        <input type="submit" name="submit" value="ВОЙТИ" class="button" />
    </fieldset>
}


<link rel="stylesheet" href="~/Content/Css/Registration.css" />